<home>
    <div class="homeHeader">
        <div>
            <h1>Lista de Contatos</h1>
            <a href="/Bloqueados">
                <button>Bloqueados</button>
            </a>
            <a href="/Favoritos">
                <button>Favoritos</button>
            </a>
            <a href="/cadastro">
                <button>Cadastrar</button>
            </a>
        </div>

    </div>

    {{#each posts}}
        <div class="styleContatos">
            <div class="styleInfo">
                <div class="styleInfoForm">
                    <h2 style="border: solid; padding: 5px">{{dataValues.nome}}</h2>
                    <h2 style="border: solid; padding: 5px">{{dataValues.numero}}</h2>
                </div>

                <div>
                    <img id="foto" src={{dataValues.foto}} style="width: 200px; height: 175px; padding-left: 25px"/>
                    <script type="text/javascript">
                        function PreviewImage() {
                            var oFReader = new FileReader();
                            oFReader.readAsDataURL(document.getElementById("foto").files[0]);

                            oFReader.onload = function (oFREvent) {
                                document.getElementById("uploadPreview").src = oFREvent.target.result;
                            };
                        };
                        var oFReader = new FileReader();
                        oFReader.readAsDataURL(document.getElementById("foto").files[0]);

                        oFReader.onload = function (oFREvent) {
                            document.getElementById("uploadPreview").src = oFREvent.target.result;
                        };
                    </script>
                </div>
            </div>

            <div class="bottomContatos">
                <a href="/editar/{{dataValues.idContato}}">
                    <button>Editar</button>
                </a>
                <a href="/deletar/{{dataValues.idContato}}">
                    <button onclick="alert('Contato Deletado')">Deletar</button>
                </a>
                <a href="/fav/{{dataValues.idContato}}/{{dataValues.numero}}">
                    <button>Adicionar Favoritos</button>
                </a>
                <a href="/bloq/{{dataValues.idContato}}/{{dataValues.numero}}">
                    <button>Bloquear</button>
                </a>
            </div>

        </div>
    {{/each}}
</home>
